@model Ad
@{
    ViewData["Title"] = "Sludinājums";
}

    <ol class="breadcrumb">
        <li><a asp-controller="Category" asp-action="Index">Sludinājumi</a></li>
        <li><a href="#">Kategorijas nosaukums</a></li>
        <li class="active">@Model.Title</li>
    </ol>

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-4">
        <img src="@Model.Photo" class="img-rounded img-responsive" />
    </div>
    <div class="col-md-8">
        <div class="form-group clearfix">
            <label class="col-md-4 control-label">Cena:</label>
            <div class="col-md-8">
                @String.Format("EUR {0:0.00}", Model.Price)
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-4 control-label">Atrašanās vieta:</label>
            <div class="col-md-8">
                @Model.Location
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-4 control-label">Pievienošanas laiks:</label>
            <div class="col-md-8">
                @Model.CreatedOn.ToShortDateString()
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-4 control-label">Tālrunis:</label>
            <div class="col-md-8">
                @Model.Telephone
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-4 control-label">E-pasts:</label>
            <div class="col-md-8">
                @Model.Email
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-4 control-label">Apraksts:</label>
            <div class="col-md-8">
                @Model.Description
            </div>
        </div>
    </div>
</div>

